@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import "reset.css";
@import "variables.css";

/* Components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/icon-row.css";
@import "components/alt-screen-header.css";
@import "components/no-mobile.css";
@import "components/suggestions-title.css";

/* Screens */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chat.css";
@import "screens/profile.css";

/* body에는 모든 스크린에 적용될 수 있는 스타일만 적어놓는 게 좋다. */
body {
  font-family: "Open Sans", sans-serif;
  height: 200vh;
  color: #2e363e;
  
  background-color: #b293ff;
}

.top_fixed_screen {
    position: fixed;
    top: 0;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: #f8b1bb;
    width: 100%;
    height: 130px;
    z-index: 10;
}

.bottom_screen {
    background-color: #bae2c5;
    border-radius: 50px;
    margin-top: 150px;
    padding-top: 20px;
    height: 100%;
}

.profile-screen,
.profile-screen2 {
    height: 700px;
    background-color: rgb(255, 174, 0);
    color: white;
}

.profile-screen2 {
    background-color: rgb(65, 92, 247);
}

.main-screen {
    padding: 0px var(--horizontal-space);
}

.welcome-header {
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes moveLogo {
    0% {
        transform: none;
    }
    50% {
        transform: translateY(-10px) rotateY(10deg);
    }
    100% {
        transform: none;
    }
}
.welcome-header__logo img {
    width: 200px;
    height: 150px;
    margin-top: 20px;
    margin-bottom: 30px;
    animation: moveLogo 1s ease-in-out infinite;
}

.welcome-header__title img {
    width: 450px;
    height: 40px;
    margin-bottom: 60px;
}

.welcome-header__text {
    width: 60%;
    font-size: 16px;
    opacity: 0.7;
    text-align: center;
}
