@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Libre+Baskerville&family=Roboto+Slab:wght@500&family=Shippori+Antique&family=Ubuntu:ital,wght@0,400;1,300&family=Varela+Round&display=swap");
@import "reset.css";
@import "variables.css";

/* Components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/icon-row.css";
@import "components/alt-screen-header.css";
@import "components/no-mobile.css";
@import "components/suggestions-title.css";

/* Screens */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chat.css";
@import "screens/profile.css";

/* body에는 모든 스크린에 적용될 수 있는 스타일만 적어놓는 게 좋다. */
body {
  font-family: "Varela Round";
  font-size: 12px;
  height: 100vh;
  color: #2e363e;
}

.whole-screen,
.whole-screen-chat {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 350px;
  margin: 0px auto;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  top: 0;
  height: 100vh;
  background-color: #ffe676;
  box-shadow: 0px 20px 10px rgb(97, 97, 97);
}

.whole-screen-chat {
  background-color: #b1b3fd;
}

.top_fixed_screen {
  top: 0;
  margin: 0px 115px;
  position: absolute;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgb(41, 41, 41);
  width: 120px;
  height: 25px;
  z-index: 10;
}

.main-screen {
  padding: 0px 20px;
}

.friends-screen {
  padding: 20px 20px 50px 20px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  background-color: rgb(168, 209, 255);
  overflow-y: scroll;
  z-index: 5;
}

.friends-screen::-webkit-scrollbar {
  display: none !important;
}

.bottom_screen {
  padding: 20px 20px 70px 20px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  background-color: rgb(168, 209, 255);
  overflow-y: scroll;
}

.bottom_screen::-webkit-scrollbar {
  display: none !important;
}

.profile-screen,
.profile-screen2 {
  height: 100vh;
  background-color: rgb(255, 174, 0);
  color: white;
}

.profile-screen2 {
  background-color: rgb(65, 92, 247);
}

.welcome-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes moveLogo {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-10px) rotateY(10deg);
  }
  100% {
    transform: none;
  }
}
.welcome-header__logo img {
  width: 120px;
  height: 120px;
  margin-top: 60px;
  margin-bottom: 20px;
  animation: moveLogo 1s ease-in-out infinite;
}

.welcome-header__title img {
  width: 280px;
  height: 28px;
  margin-bottom: 30px;
}

.welcome-header__text {
  width: 50%;
  font-size: 14px;
  line-height: 20px;
  opacity: 0.7;
  text-align: center;
  margin-top: 20px;
}

.whole-screen .chat-screen {
  background-color: aquamarine;
}
