#friends-display-link {
  text-align: center;
  align-items: center;
  justify-content: space-between;
  display: block;
  background-color: #cfd3e9;
  padding: 5px 8px;
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: -10px;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.2);
  padding: 3px;
}

.friends-screen__channel-header {
  font-family: "Arvo";
  margin: 20px 0px 20px 0px;
  padding-top: 20px;
  border-top: solid 1px rgb(211, 211, 211);
  display: flex;
  justify-content: space-between;
  color: rgb(52, 101, 165);
  font-size: 15px;
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden; /* 마우스가 엘리멘트를 그냥 무시하도록 하는 거임. html에서 아예 삭제하려면 자바스크립트가 필요함.*/
  }
}

.whole-screen {
  position: relative;
}

#splash-screen img {
  z-index: 20;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50px;
  width: 350px;
  height: 650px;

  animation: hideSplashScreen 2s ease-in-out forwards;
  animation-delay: 0.5s;
}
