#login-form {
  display: flex;
  flex-direction: column;
  margin: 30px 50px;
}

#login-form input {
  border: none;
  padding: 10px 20px;
  font-size: 13px;
  margin-bottom: 10px;
  border-radius: 20px;
  font-family: "Varela Round";
}

#login-form input:not([type="submit"]):focus {
  border: solid 1.5px #ffe365;
}
#login-form input::placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-size: 12px;
}
#login-form input:focus::placeholder {
  color: #ffe365;
}

#login-form input[type="submit"] {
  background-color: #052e71;
  color: whitesmoke;
  border-radius: 20px;
  cursor: pointer;
  padding: 10px 0px;
  margin-top: 10px;
}

#login-form a {
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-size: 12px;
  color: gray;
  margin-top: 20px;
  cursor: pointer;
}
