.profile-avatar {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 250px;
}

.profile-avatar img {
  width: 100px;
  height: 100px;
  border-radius: 30px;
  margin-bottom: 15px;
}

.profile-avatar span {
  font-weight: 600;
}

.profile-edit {
  position: absolute;
  width: 350px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-top: var(--main-border);
  padding: 30px 0px;

  bottom: 0;
  left: 0;
}

.profile-edit__column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-edit__column i {
  font-size: 25px;
  margin-bottom: 15px;
}

.profile-edit__column span {
  font-size: 10px;
}
