.alt-header,
.chat-screen-timothy,
.chat-screen-bossbaby,
.chat-screen-staci,
.chat-screen-Jimbo,
.alt-header-settings {
  padding: 10px 20px 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-screen-timothy {
  margin-top: -270px;
}

.chat-screen-bossbaby {
  margin-top: -10px;
}

.chat-screen-staci {
  margin-top: -130px;
}

.chat-screen-Jimbo {
  margin-top: -270px;
}

.alt-header-settings {
  margin-top: 70px;
}

.alt-header__column {
  width: 33%;
  margin-top: 0px;
  font-size: 12px;
}

.alt-header__title {
  font-size: 14px;
  font-weight: 600;
}

.alt-header__column:first-child {
  margin-right: auto;
}

.alt-header__column:nth-child(2) {
  text-align: center;
}

.alt-header__column:last-child {
  display: flex;
  justify-content: flex-end;
}

.alt-header__column span:last-child {
  margin-left: 20px;
}

.profile-screen .alt-header__column:last-child i,
.profile-screen2 .alt-header__column:last-child i {
  font-size: 18px;
  padding-left: 20px;
}

.profile-screen .alt-header,
.profile-screen2 .alt-header {
  margin-top: -120px;
}

.chat-screen .alt-header {
  margin-top: 150px;
}

.chat-screen-timothy .alt-header {
  padding-top: 200px;
}
