.icon-row {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 10px;
}

.icon-row__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  padding: 20px 0px;

  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.7);
}

.icon-row__icon i {
  font-size: 30px;
}

.icon-row__icon span {
  margin-top: 16px;
  font-size: 8px;
  align-items: center;
}

.icon-row__icon:hover {
  cursor: pointer;
  color: rgb(255, 163, 147);
}
