.whold-screen {
  position: relative;
}

.nav {
  position: fixed;
  margin: 0px auto;
  bottom: 0px;
  left: 0;
  right: 0;
  width: 350px;
  background-color: #ffe676;
  padding: 15px 50px;
  box-sizing: border-box;
  border-top: 1px solid rgba(121, 121, 121, 0.3);
  font-size: 11px;
}
.nav__list {
  display: flex;
  justify-content: space-between;
}
.nav__link {
  position: relative;
  color: #2e363e;
}

@keyframes notificationAnimation {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-3px) rotateY(10deg);
  }
  100% {
    transform: none;
  }
}

.nav__notification-badge {
  background-color: tomato;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 6px;
  position: absolute;
  left: 15px;
  bottom: 10px;
  animation: notificationAnimation 1s ease-in-out infinite;
}

.nav__new {
  background-color: tomato;
  height: 6px;
  width: 6px;
  border-radius: 3px;
  display: flex;
  position: absolute;
  left: 24px;
  bottom: 20px;
}
