.screen-header {
  width: 310px;
  margin-top: 30px;
  padding: 40px 20px 20px 20px;
  display: flex;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  background-color: #ffe676;
}

.screen-header__title {
  font-size: 22px;
  font-weight: 600;
  font-family: "Roboto Slab";
}

.screen-header__icons {
  font-size: 14px;
}

.screen-header__icons span {
  margin-left: 20px;
  position: relative;
}

.badge-2 {
  background-color: tomato;
  border-radius: 2px;
  width: 4px;
  height: 4px;
  display: flex;
  position: absolute;
  right: -4px;
  top: -2px;
}

@keyframes upAndDownSearch {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-10px) rotateY(10deg);
  }
  100% {
    transform: none;
  }
}
.screen-header__icons .fa-search:hover {
  color: rgb(107, 109, 255);
  animation: upAndDownSearch 0.8s linear infinite;
}

@keyframes upAndDownDots {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-10px) rotateY(10deg);
  }
  100% {
    transform: none;
  }
}
.screen-header__icons .fa-comment-dots:hover {
  color: rgb(107, 109, 255);
  animation: upAndDownDots 0.8s linear infinite;
}

@keyframes upAndDownMusic {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-10px) rotateY(10deg);
  }
  100% {
    transform: none;
  }
}
.screen-header__icons .fa-music:hover {
  color: rgb(107, 109, 255);
  animation: upAndDownMusic 0.8s linear infinite;
}

@keyframes upAndDownCog {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-10px) rotateY(10deg);
  }
  100% {
    transform: none;
  }
}

.screen-header__icons .fa-cog:hover {
  color: rgb(107, 109, 255);
  animation: upAndDownCog 1s linear infinite;
}
