.user-component {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.user-component__column-timeandmessage {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-component__column-timeandmessage span {
  opacity: 0.7;
  font-size: 10px;
}
.user-component__column:first-child,
.user-component__column:last-child {
  display: flex;
  align-items: center;
}

.user-component__column-icon {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-component__column-icon:hover {
  cursor: pointer;
  color: rgb(107, 109, 255);
}

.user-component__column-icon i {
  margin-bottom: 5px;
  font-size: 28px;
}

.recommended-friends .channel__component {
  background-color: rgb(255, 189, 187);
  border-radius: 20px;
  padding: 5px;
  margin-bottom: 5px;
}

.channel__component .user-component__column {
  margin-right: 10px;
}

.recommended-friends .channel__component:nth-child(3) {
  background-color: rgb(247, 210, 109);
}

.recommended-friends .channel__component:last-child {
  background-color: rgb(172, 200, 252);
  margin-bottom: 30px;
}

.recommended-friends .channel__component i:hover {
  color: coral;
}

.user-component__avatar {
  width: 56px;
  height: 56px;
  border-radius: 20px;
  margin-right: 10px;
}

.user-component__avatar--xl {
  width: 60px;
  height: 60px;
  border-radius: 20px;
}

.user-component__avatar--sm {
  width: 50px;
  height: 50px;
  border-radius: 20px;
}

.user-component__title__me {
  font-weight: 600;
  font-size: 16px;
}

.user-component__subtitle__me {
  margin-top: 12px;
  font-size: 10px;
  color: rgba(0, 0, 0, 0.5);
}

.user-component__title {
  font-weight: 600;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.myOwn {
  margin-right: 6px;
  height: 16px;
  width: 16px;
  padding: 1px 0px 1px 1px;
  font-size: 2px;
  color: white;
  background-color: rgb(52, 53, 73);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-component__title i {
  opacity: 0.8;
  margin-left: 7px;
  font-size: 12px;
}

.user-component__subtitle {
  margin-top: 8px;
  font-size: 10px;
  color: rgba(0, 0, 0, 0.5);
  margin-right: 10px;
  line-height: 14px;
}

.user-component__subtitle i {
  color: tomato;
  margin-left: 3px;
}

.user-component__user_status_unavailable {
  font-size: 6px;
  color: rgb(235, 99, 99);
  padding: 6px 5px 6px 7px;
  border: solid 1px rgb(255, 160, 144);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-component__user_status_unavailable i {
  margin-left: 3px;
  color: rgb(252, 124, 102);
  font-size: 12px;
}

.user-component__user_status_available i {
  color: rgb(100, 168, 100);
  font-size: 14px;
}

.user-component__title--not-bold {
  font-weight: 400;
}

.user-component__time {
  margin-bottom: 10px;
  display: block;
}

.badge {
  background-color: tomato;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 10px;
}
